#canvas {
  width: 96vw !important;
  height: 96vh !important;
  max-width: calc(96vh * 1.22) !important;
  max-height: calc(96vw * 0.82) !important;
  image-rendering: crisp-edges !important;
  // border: 1px solid red;
}
